/* Universal Styles */

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: auto;
  height: 50px;
  color: seashell;
}

header nav {
  padding-right: 10px;
}

header a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
}

/*main content container*/

.content {
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  justify-content: center;
  align-items: center;
}

/*mission container*/

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  border: 1px solid white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: auto;
  background-color: black;
}

.banner h2 {
  margin: 10px 0px;
}

.banner h4 {
  margin: 10px 0px;
}

/*featured container*/

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border: 1px solid white;
  width: 1000px;
  height: 700px;
}

.featured h4 {
  margin: 10px 0px;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid purple;
}

.tea.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  margin: 10px 10px;
  border: 1px solid green;
}

.tea.rectangle img {
  width: 300px;
  height: 200px;
}

.description {
  padding-top: 10px;
}

/*locations container*/

.locations {
  display: flex;
  margin-top: 40px;
  border: 1px solid purple;
  width: 1200px;
  height: 500px;
  flex-direction: column;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.locations h2 {
  margin: 0px;
  padding-top: 65px;
}
.location.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding-top: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 1px solid yellow;
  background-color: black;
  opacity: 1;
  margin: 0px 20px 0px 20px;
}

.location.headings {
  margin: 0px;
  padding: 0px;
}
.details {
  display: block;
}

/*footer*/

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h2 {
  margin: 10px 0px;
}
.copyright {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0px 30px 20px;
}
